*{
   margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-size: 16px;
    height: 100vh;
}
.header{
       padding : 100px 100px 100px 100px;
       
    background-color: white;
    width: 100%;
    height:50%;
    font-size: 25px;
}

.div1{
    width: 50%;
    height:50%;
    background-color:cyan;
    float: left;
    padding : 60px 60px 60px 60px;
    font-size: 20px;
    color: white;
    
}

.div2{
    width: 50%;
    height:50%;
    background-color:skyblue;
    float: left;
    padding : 60px 60px 60px 60px;
    font-size: 20px;
    color:white;
    
}

input{
    background-color: rgb(187, 231, 27);
    padding: 15px 100px;
    width: 270px;
    margin-top: 30px;
    font-size: 0.90rem;
    color:white;


}
